# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Mypy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# PyCharm / VS Code
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Docker
*.pid
